#floating-panel2 {
	width: 50px;
	top: 200px;
	float: right;
	position: fixed;
	right: 0;
	z-index: 5000;
	background-color: rgb(66, 72, 79);
	padding: 5px;
	border: 1px solid rgb(66, 72, 79);
	border-radius: 1px;
	float: right;
	border-radius: 20px 0 0 20px;
}
